<div class="cash-games-container">
  <div class="cash-games-info text-white">
    <div class="cash-games-title">
      <h5 class="mb-0">1 ლ რეიქი = 1 ქულას</h5>
    </div>
    <div class="cash-games-text">
      <h6 class="mb-0">TOP 20 ლიდერბორდი ჰოლდემში</h6>
      <img src="../../assets/info-icon.png" alt="info">
    </div>
    <app-leaderboard-table></app-leaderboard-table>
    <app-prizes></app-prizes>
    <div class="cash-games-text">
      <h6 class="mb-0">TOP 20 ლიდერბორდი ჰოლდემში</h6>
      <img src="../../assets/info-icon.png" alt="info">
    </div>
    <app-leaderboard-table></app-leaderboard-table>
    <app-prizes></app-prizes>
    <app-leaderboard-results></app-leaderboard-results>
  </div>
</div>
<app-extra-info></app-extra-info>
