<header>
  <div class="header-first-container container d-flex justify-content-between align-items-center">
    <img src="../../assets/logo.svg" alt="" class="logo">
    <div class="first-container-buttons">
      <button type="button" class="btn">Sign up</button>
      <button type="button" class="btn btn-primary">Sign in</button>
    </div>
  </div>
  <img src="../../assets/banner.jpg" alt="banner" class="container-fluid p-0 header-second-container">
  <div class="header-third-container container text-white d-flex flex-column">
    <div class="third-container-main-text d-flex align-items-center">
      <span>სლოტები</span>
      <p class="m-0">10 იანვარი - 12 მარტი</p>
    </div>
    <div class="third-container-secondary-text">
      <p class="m-0 text-uppercase">მოიპოვე მრავალფეროვანი პრიზები და 10 საგზურიდან ერთ-ერთი</p>
    </div>
    <div class="third-container-minor-text">
      <p class="m-0">მოხვდი პოკერის ფესტივალზე მალტაში</p>
    </div>
  </div>
</header>
