@font-face {
  font-family: November-Medium;
  src: url("../../assets/fonts/November-Medium.woff2") format("truetype");
}

.footer-container {
  width: 100%;
  height: 70px;
  background-color: #171718;
  border-top: 2px solid #F05A22;
  position: fixed;
  z-index: 10;
  bottom: 0;
}

.footer-link {
width: 144px;
height: 36px;
border-radius: 3px;
background-color: #F05A22;
color:  white;
font-family: Helvetica-Medium;
cursor: pointer;
text-decoration: none;
}
