<div class="extra-info-container">
  <div class="extra-info-container-main-text">
      <span>დამატებით შედგება, ქეშგეიმის,</span>
      <span class="extra-info-container-main-text-new-line"> ტურნირებისა და სპინ პოკერის</span>
      <span class="extra-info-container-main-text-new-line"> 12 Side ლიდერბორდი</span>
  </div>
  <span class="extra-info-container-secondary-text">
      <span>* Side ლიდერბორდების შესახებ დეტალური</span>
      <span class="extra-info-container-main-text-new-line"> ინფორმაცია იხილეთ პოკერის ლობიში</span>
  </span>
</div>
