<div class="final-tours-container d-flex flex-column justify-content-center">
  <div class="final-tours-title">
  <h5>მოიგე საგზური 30 აპრილის ფინალურ ტურნირებზე</h5>
  </div>
  <div class="tours-container">
      <div class="tours-main-blocks d-flex justify-content-between">
          <div class="tours-main-block d-flex flex-column justify-content-between">
              <div class="tours-first-block d-flex flex-column justify-content-center position-relative flex-grow-1"
                  *ngFor="let i of cashgameTypes">
                  <img class="position-absolute top-0 right-10" src="../../assets/1-ticket-icon.png" alt="">
                  <p class="text-white">"{{i}}" - </p>
                  <p class="text-white">1 საგზური</p>
              </div>
          </div>
          <div class="tours-big-blocks d-flex flex-column">
              <div class="tours-small-blocks d-flex flex-column justify-content-center position-relative">
                  <img class="position-absolute top-0 right-10" src="../../assets/2-ticket-icon.png" alt="">
                  <p class="text-white">"The Festival in Malta GTD"</p>
                  <p class="text-white">A კატეგორიის 1 საგზური</p>
                  <p class="text-white">B კატეგორიის 1 საგზური</p>
                  <p class="text-white">ტურნირში მონაწილეობის მიღება შეუძლია ნებისმიერ მსურველს 165₾
                      ბაი-ინის გადახდით</p>
              </div>
              <div class="tours-small-blocks d-flex flex-column justify-content-center position-relative">
                  <img class="position-absolute top-0 right-10" src="../../assets/2-ticket-icon.png" alt="">
                  <p class="text-white">„The Lord of the Rings“</p>
                  <p class="text-white">C კატეგორიის 1 საგზური</p>
                  <p class="text-white">ტურნირში მონაწილეობის მიღება შეუძლია ნებისმიერ მსურველს 165₾ ბაი-ინის გადახდით.</p>
              </div>
          </div>
      </div>
      <p class="upper-text">* თუ მოთამაშე მოიგებს ბეჭედს ორჯერ ან მეტჯერ, ის The
          Lord
          of The
          Rings ტურნირზე
          მოხვდება ბეჭდების შესაბამისი რაოდენობის სტეკით</p>
      <p class="upper-text">* ტურნირში მონაწილეობის მიღება შეუძლია ნებისმიერ
          მსურველს
          165₾-იანი
          ბაი-ინის
          გადახდით.</p>
  </div>
</div>
