@font-face {
  font-family: November-Bold;
  src: url("../../assets/fonts/November-Bold.woff2") format("truetype");
}

@font-face {
  font-family: November-Medium;
  src: url("../../assets/fonts/November-Medium.woff2") format("truetype");
}
@font-face {
  font-family: November-Regular;
  src: url("../../assets/fonts/November-Regular.woff2") format("truetype");
}

.promotions-container {
  padding: 20px 16px;
  display: block;
  gap: 6px;
 }

.promotions-container h5 {
  font-size: 16px;
  margin-bottom: 1.5rem !important;
  font-family: 'November-Medium';
}

.carousel-container {
  width: 100%;
  overflow: hidden;
  margin-right: 16px
}

img {
  width: 95% !important;
}

