<div class="tournaments-container d-flex flex-col justify-content-center align-items-center">
  <div class="tournaments-info">
    <div class="tournaments-title">
      <h5>ტურნირები და სატელიტები</h5>
    </div>
<div class="tournaments-innerbody position-relative d-flex flex-col align-items-center">
<p class="tournaments-innerbody-text">სერიის ფარგლებში, ყოველდღურად გაიმართება 3 ივენთი:</p>
<div class="tournaments-innerbody-time d-flex align-items-center pr-2 mb-5">
  <img class="tournaments-innerbody-clock" src="../../assets/tourtime.png">
  </div>
  <div class="tournaments-additional-info">
    <p>* ყველა ტურნირზე მოხვედრა შესაძლებელია 0 ლარიდან</p>
      <p>ტურნირების სრული განრიგის სანახავად გადადი პოკერის ლობიში</p>
      <img class="position-absolute start-0 bottom-0" src="../../assets/promo-left-img.png" alt="Cards Image">
  <img class="position-absolute end-0 bottom-0" src="../../assets/promo-right-img.png" alt="Cards Image">
      <button type="button" class="btn btn-primary">პოკერის ლობი</button>
  </div>
    </div>
</div>
</div>







