<div class="tournament-scores-container">
  <div class="tournament-scores-info text-white">
    <div class="tournament-scores-title">
      <h5 class="mb-0">მოხვდი TOP20 ლიდერბორდში ტურნირებზე დაგროვებული ქულებით</h5>
    </div>
    <app-leaderboard-table></app-leaderboard-table>
    <app-prizes></app-prizes>
    <app-leaderboard-results></app-leaderboard-results>
    <div class="tournament-scores-additional-info">
       <span>* სატურნირო ლიდერბორდის ქულების დათვლაში არ მონაწილეობს ფრიროლები და სატელიტები</span>
    </div>
  </div>
</div>
<app-daily-tournaments></app-daily-tournaments>
<app-extra-info></app-extra-info>
