<div class="malta-festival-container bg-darkGray border-4 border-middleGray d-flex flex-column justify-content-center rounded-2xl p-5 mb-5">
  <img class="banner-festival" src="../../assets/final-info-img.jpg" alt="Final Stage Image">
  <p class="text-white text-center">გაემგზავრე THE FESTIVAL IN MALTA-ზე!</p>
  <p class="text-white text-center">THE FESTIVAL სერიების ფარგლებში, ევროპაბეთი უკვე მეორედ აძლევს პოკერის მოთამაშეებს დაუვიწყარი მოგზაურობის შანსს</p>
  <div class="prizes-container">
      <div class="flex items-center rounded-xl m-auto pr-5">
          <p class="text-white text-sm">15-დან 21 მაისის ჩათვლით მალტა პოკერის ფესტივალს უმასპინძლებს</p>
      </div>
  </div>
  <div class="prizes-caregory-tables d-flex justify-content-between">
      <div *ngFor="let prize of categories" class="category-block prize">
          <div class="top-divider"></div>
          <p class="list-header d-flex align-items-center">{{ prize[0] }} კატეგორიის საგზურში შედის</p>
          <div class="list-div">
              <ul>
                  <li class="prize-item"><img
                          src="{{icons[3]}}" alt="">{{ prize[1] }}</li>
                  <li class="prize-item"><img
                          src="{{icons[1]}}" alt="">{{ prize[2] }}</li>
                  <li class="prize-item"><img
                          src="{{icons[1]}}" alt="">{{ prize[3] }}</li>
                  <li class="prize-item"><img
                          src="{{icons[2]}}" alt="">{{ prize[4] }}</li>
                  <li class="prize-item"><img
                          src="{{icons[4]}}" alt="">{{ prize[5] }}</li>
              </ul>
          </div>
      </div>
      <div class="category-block prize">
          <div class="top-divider"></div>
          <p class="list-header d-flex align-items-center">{{thirdcategory[0]}} კატეგორიის საგზურში შედის
          </p>
          <div class="list-div">
              <ul>
                  <li class="prize-item"><img
                          src="{{icons[3]}}" alt=""> {{thirdcategory[1]}} </li>
                  <li class="prize-item"><img
                          src="{{icons[1]}}" alt=""> {{thirdcategory[2]}}</li>
                  <li class="prize-item"><img
                          src="{{icons[2]}}" alt=""> {{thirdcategory[3]}}</li>
                  <li class="prize-item"><img
                          src="{{icons[4]}}" alt=""> {{thirdcategory[4]}}</li>

              </ul>
          </div>
      </div>
  </div>
</div>
