<div class="daily-tournaments-container">
<div class="daily-tournaments-info text-center border-4 rounded">
  <div class="daily-tournaments-title">
    <h5 class="text-lg text-white text-center">ყოველდღიური ტურნირები და სატელიტები</h5>
  </div>
  <div class="d-flex flex-column justify-content-around align-items-center">
 <div class="daily-tournaments-blocks row d-flex flex-column justify-content-between align-items-center size">
  <div class="daily-tournaments-block">
    <div class="d-flex flex-row justify-content-center align-items-center highrollers-group rounded py-4">
      <div class="d-flex flex-column mr-5">
        <h4 class="min-size text-white text-sm mb-2">Holdem Highrollers</h4>
        <span class="min-size text-warning text-sm">50 000₾</span>
    </div>
    <div class="d-flex flex-column">
      <span class="text-white text-sm mb-2">ბაი-ინი - 550₾</span>
      <span class="text-white text-sm bg-brown px-2 rounded">27 აპრილი</span>
  </div>
    </div>
    <div class="d-flex justify-content-center align-items-center highrollers-group rounded py-4">
      <div class="d-flex flex-column mr-5">
        <h4 class="text-white text-sm mb-2">Omaha Highrollers</h4>
        <span class="text-warning text-sm">50 000₾</span>
    </div>
    <div class="d-flex flex-column">
        <span class="text-white text-sm mb-2">ბაი-ინი - 550₾</span>
        <span class="text-white text-sm bg-brown px-2 py-1 rounded">28 აპრილი</span>
    </div>
    </div>
  </div>
    <div class="main-highroller-size d-flex justify-content-center align-items-center main-highrollers rounded mb-1 py-4 col-12">
      <div class="flex-column mr-10">
        <h4 class="text-white text-xl mb-2">Main Events</h4>
        <div class="text-warning text-sm">150 000₾</div>
    </div>
    <div class="flex-column">
        <div class="text-white text-sm mb-2">ბაი-ინი - 550₾</div>
        <div class="text-white text-sm bg-brown px-2 rounded">29 აპრილი</div>
    </div>
    </div>
  </div>
  </div>
  <p class="main-highroller-size daily-tournaments-additional-info">* სამივე ტურნირის გამარჯვებულები მიიღებენ ბეჭდებს და
    ფინალურ ეტაპზე, The Lord of the Rings ტურნირზე, იბრძოლებენ The Festival in Malta-ს საგურის მისაღებად.
</p>
</div>
</div >


